<a href="https://colab.research.google.com/github/dlgur1994/Hackerthon1_Aiffel/blob/main/jisu/Recruit_Restaurant_Visitor_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV
import lightgbm as lgb
import matplotlib.pyplot as plt

In [45]:
data = {
    'tra':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/air_visit_data.csv.zip'),
    'as':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/air_store_info.csv.zip'),
    'hs':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/hpg_store_info.csv.zip'),
    'ar':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/air_reserve.csv.zip'),
    'hr':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/hpg_reserve.csv.zip'),
    'id':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/store_id_relation.csv.zip'),
    'tes':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/sample_submission.csv.zip'),
    'hol':
    pd.read_csv('/content/drive/MyDrive/Hackathon/recruit-restaurant-visitor-forecasting/date_info.csv.zip').rename(columns={
        'calendar_date': 'visit_date'
    })
}


display(data['tra'])
display(data['as'])
display(data['hs'])
display(data['ar'])
display(data['hr'])
display(data['id'])
display(data['tes'])
display(data['hol'])

                air_store_id  visit_date  visitors
0       air_ba937bf13d40fb24  2016-01-13        25
1       air_ba937bf13d40fb24  2016-01-14        32
2       air_ba937bf13d40fb24  2016-01-15        29
3       air_ba937bf13d40fb24  2016-01-16        22
4       air_ba937bf13d40fb24  2016-01-18         6
...                      ...         ...       ...
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

[252108 rows x 3 columns]

             air_store_id         air_genre_name  ...   latitude   longitude
0    air_0f0cdeee6c9bf3d7         Italian/French  ...  34.695124  135.197852
1    air_7cc17a324ae5c7dc         Italian/French  ...  34.695124  135.197852
2    air_fee8dcf4d619598e         Italian/French  ...  34.695124  135.197852
3    air_a17f0778617c76e2         Italian/French  ...  34.695124  135.197852
4    air_83db5aff8f50478e         Italian/French  ...  35.658068  139.751599
..                    ...                    ...  ...        ...         ...
824  air_9bf595ef095572fb  International cuisine  ...  35.661777  139.704051
825  air_764f71040a413d4d                  Asian  ...  35.661777  139.704051
826  air_10bbe8acd943d8f6                  Asian  ...  35.661777  139.704051
827  air_7514d90009613cd6          Karaoke/Party  ...  43.055460  141.340956
828  air_c8fe396d6c46275d          Karaoke/Party  ...  43.055460  141.340956

[829 rows x 5 columns]

              hpg_store_id               hpg_genre_name  ...   latitude   longitude
0     hpg_6622b62385aec8bf               Japanese style  ...  35.643675  139.668221
1     hpg_e9e068dd49c5fa00               Japanese style  ...  35.643675  139.668221
2     hpg_2976f7acb4b3a3bc               Japanese style  ...  35.643675  139.668221
3     hpg_e51a522e098f024c               Japanese style  ...  35.643675  139.668221
4     hpg_e3d0e1519894f275               Japanese style  ...  35.643675  139.668221
...                    ...                          ...  ...        ...         ...
4685  hpg_c6ed353a48c7c93e                 Sichuan food  ...  35.695780  139.768453
4686  hpg_a58d2423360b2fb4                 Sichuan food  ...  35.666137  139.733978
4687  hpg_d2021704076cdd70                Shanghai food  ...  35.695780  139.768453
4688  hpg_602472570d65e219  Spain/Mediterranean cuisine  ...  35.730068  139.711742
4689  hpg_11801306ce8bfb4f                    Udon/Soba  ...  34.701519  135.498859

[4690 rows x 5 columns]

               air_store_id  ... reserve_visitors
0      air_877f79706adbfb06  ...                1
1      air_db4b38ebe7a7ceff  ...                3
2      air_db4b38ebe7a7ceff  ...                6
3      air_877f79706adbfb06  ...                2
4      air_db80363d35f10926  ...                5
...                     ...  ...              ...
92373  air_db4b38ebe7a7ceff  ...                6
92374  air_1033310359ceeac1  ...                8
92375  air_877f79706adbfb06  ...                3
92376  air_900d755ebd2f7bbd  ...               10
92377  air_3cad29d1a23209d2  ...                3

[92378 rows x 4 columns]

                 hpg_store_id  ... reserve_visitors
0        hpg_c63f6f42e088e50f  ...                1
1        hpg_dac72789163a3f47  ...                3
2        hpg_c8e24dcf51ca1eb5  ...                2
3        hpg_24bb207e5fd49d4a  ...                5
4        hpg_25291c542ebb3bc2  ...               13
...                       ...  ...              ...
2000315  hpg_2b293477ea4642fb  ...                2
2000316  hpg_f922aeca48ca5a29  ...                3
2000317  hpg_e9151de687b93aa3  ...               49
2000318  hpg_fae6c96189b4a122  ...                9
2000319  hpg_0b70de808b55ad1e  ...                6

[2000320 rows x 4 columns]

             air_store_id          hpg_store_id
0    air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1    air_a24bf50c3e90d583  hpg_c34b496d0305a809
2    air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3    air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4    air_965b2e0cf4119003  hpg_653238a84804d8e7
..                    ...                   ...
145  air_b8925441167c3152  hpg_0cc0abae3a8b52de
146  air_f8233ad00755c35c  hpg_098e4dd30e54fee6
147  air_6607fe3671242ce3  hpg_1004356dc8ab69ec
148  air_ccd19a5bc5573ae5  hpg_df22bf146d2c7e19
149  air_465bddfed3353b23  hpg_23c5945dc1a72454

[150 rows x 2 columns]

                                    id  visitors
0      air_00a91d42b08b08d9_2017-04-23         0
1      air_00a91d42b08b08d9_2017-04-24         0
2      air_00a91d42b08b08d9_2017-04-25         0
3      air_00a91d42b08b08d9_2017-04-26         0
4      air_00a91d42b08b08d9_2017-04-27         0
...                                ...       ...
32014  air_fff68b929994bfbd_2017-05-27         0
32015  air_fff68b929994bfbd_2017-05-28         0
32016  air_fff68b929994bfbd_2017-05-29         0
32017  air_fff68b929994bfbd_2017-05-30         0
32018  air_fff68b929994bfbd_2017-05-31         0

[32019 rows x 2 columns]

     visit_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0
..          ...         ...          ...
512  2017-05-27    Saturday            0
513  2017-05-28      Sunday            0
514  2017-05-29      Monday            0
515  2017-05-30     Tuesday            0
516  2017-05-31   Wednesday            0

[517 rows x 3 columns]

## air_reserve, hph_reserve 의 reserve_datetime 과 visit_datetime 의 차이를 구해준다.
---

In [46]:
data['hr'] = pd.merge(data['hr'], data['id'], how='inner', on=['hpg_store_id'])

for df in ['ar', 'hr']:
    data[df]['visit_datetime'] = pd.to_datetime(data[df]['visit_datetime'])
    data[df]['visit_datetime'] = data[df]['visit_datetime'].dt.date
    data[df]['reserve_datetime'] = pd.to_datetime(data[df]['reserve_datetime'])
    data[df]['reserve_datetime'] = data[df]['reserve_datetime'].dt.date
    data[df]['reserve_datetime_diff'] = data[df].apply(
        lambda r: (r['visit_datetime'] - r['reserve_datetime']).days, axis=1)
    data[df] = data[df].groupby(
        ['air_store_id', 'visit_datetime'], as_index=False)[[
            'reserve_datetime_diff', 'reserve_visitors'
        ]].sum().rename(columns={
            'visit_datetime': 'visit_date'
        })
    display(data[df].head(20))

            air_store_id  visit_date  reserve_datetime_diff  reserve_visitors
0   air_00a91d42b08b08d9  2016-10-31                      0                 2
1   air_00a91d42b08b08d9  2016-12-05                      4                 9
2   air_00a91d42b08b08d9  2016-12-14                      6                18
3   air_00a91d42b08b08d9  2016-12-17                      6                 2
4   air_00a91d42b08b08d9  2016-12-20                      2                 4
5   air_00a91d42b08b08d9  2017-02-18                      5                 9
6   air_00a91d42b08b08d9  2017-02-23                      2                12
7   air_00a91d42b08b08d9  2017-03-01                     11                 3
8   air_00a91d42b08b08d9  2017-03-14                      0                 4
9   air_00a91d42b08b08d9  2017-03-21                      5                 3
10  air_00a91d42b08b08d9  2017-03-24                      1                 2
11  air_00a91d42b08b08d9  2017-04-04                      2                 2
12  air_0164b9927d20bcc3  2016-10-28                     10                12
13  air_0164b9927d20bcc3  2016-11-01                      5                10
14  air_0164b9927d20bcc3  2016-11-02                      0                 3
15  air_0164b9927d20bcc3  2016-11-08                      8                 9
16  air_0164b9927d20bcc3  2016-11-10                     43                 6
17  air_0164b9927d20bcc3  2016-11-11                      1                 4
18  air_0164b9927d20bcc3  2016-11-14                     22                17
19  air_0164b9927d20bcc3  2016-11-15                      4                 3

            air_store_id  visit_date  reserve_datetime_diff  reserve_visitors
0   air_00a91d42b08b08d9  2016-01-14                      3                 2
1   air_00a91d42b08b08d9  2016-01-15                      6                 4
2   air_00a91d42b08b08d9  2016-01-16                      3                 2
3   air_00a91d42b08b08d9  2016-01-22                      3                 2
4   air_00a91d42b08b08d9  2016-01-29                      6                 5
5   air_00a91d42b08b08d9  2016-02-05                     16                 2
6   air_00a91d42b08b08d9  2016-03-08                      2                 3
7   air_00a91d42b08b08d9  2016-04-04                      4                 1
8   air_00a91d42b08b08d9  2016-04-07                      1                 2
9   air_00a91d42b08b08d9  2016-04-08                     13                 7
10  air_00a91d42b08b08d9  2016-04-09                      4                 4
11  air_00a91d42b08b08d9  2016-04-22                      1                 2
12  air_00a91d42b08b08d9  2016-04-28                      1                 2
13  air_00a91d42b08b08d9  2016-05-06                      0                 2
14  air_00a91d42b08b08d9  2016-05-12                      2                 5
15  air_00a91d42b08b08d9  2016-05-13                      1                 3
16  air_00a91d42b08b08d9  2016-05-20                      6                 1
17  air_00a91d42b08b08d9  2016-05-27                     13                15
18  air_00a91d42b08b08d9  2016-06-03                      1                 4
19  air_00a91d42b08b08d9  2016-06-09                      2                 5

In [29]:
data['tra']['visit_date'] = pd.to_datetime(data['tra']['visit_date'])
data['tra']['dow'] = data['tra']['visit_date'].dt.dayofweek
data['tra']['year'] = data['tra']['visit_date'].dt.year
data['tra']['month'] = data['tra']['visit_date'].dt.month
data['tra']['visit_date'] = data['tra']['visit_date'].dt.date

data['tra'].head()

           air_store_id  visit_date  visitors  dow  year  month
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1
3  air_ba937bf13d40fb24  2016-01-16        22    5  2016      1
4  air_ba937bf13d40fb24  2016-01-18         6    0  2016      1

In [30]:
data['tes']['visit_date'] = data['tes']['id'].map(
    lambda x: str(x).split('_')[2])
data['tes']['air_store_id'] = data['tes']['id'].map(
    lambda x: '_'.join(x.split('_')[:2]))
data['tes']['visit_date'] = pd.to_datetime(data['tes']['visit_date'])
data['tes']['dow'] = data['tes']['visit_date'].dt.dayofweek
data['tes']['year'] = data['tes']['visit_date'].dt.year
data['tes']['month'] = data['tes']['visit_date'].dt.month
data['tes']['visit_date'] = data['tes']['visit_date'].dt.date

data['tes'].head()

                                id  visitors  visit_date  ... dow  year  month
0  air_00a91d42b08b08d9_2017-04-23         0  2017-04-23  ...   6  2017      4
1  air_00a91d42b08b08d9_2017-04-24         0  2017-04-24  ...   0  2017      4
2  air_00a91d42b08b08d9_2017-04-25         0  2017-04-25  ...   1  2017      4
3  air_00a91d42b08b08d9_2017-04-26         0  2017-04-26  ...   2  2017      4
4  air_00a91d42b08b08d9_2017-04-27         0  2017-04-27  ...   3  2017      4

[5 rows x 7 columns]

In [31]:
unique_stores = data['tes']['air_store_id'].unique()
stores = pd.concat(
    [
        pd.DataFrame({
            'air_store_id': unique_stores,
            'dow': [i] * len(unique_stores)
        }) for i in range(7)
    ],
    axis=0,
    ignore_index=True).reset_index(drop=True)

stores.head()

           air_store_id  dow
0  air_00a91d42b08b08d9    0
1  air_0164b9927d20bcc3    0
2  air_0241aa3964b7f861    0
3  air_0328696196e46f18    0
4  air_034a3d5b40d5b1b1    0

In [32]:
tmp = data['tra'].groupby(
    ['air_store_id', 'dow'],
    as_index=False)['visitors'].min().rename(columns={
        'visitors': 'min_visitors'
    })
stores = pd.merge(stores, tmp, how='left', on=['air_store_id', 'dow'])
tmp = data['tra'].groupby(
    ['air_store_id', 'dow'],
    as_index=False)['visitors'].mean().rename(columns={
        'visitors': 'mean_visitors'
    })
stores = pd.merge(stores, tmp, how='left', on=['air_store_id', 'dow'])
tmp = data['tra'].groupby(
    ['air_store_id', 'dow'],
    as_index=False)['visitors'].median().rename(columns={
        'visitors': 'median_visitors'
    })
stores = pd.merge(stores, tmp, how='left', on=['air_store_id', 'dow'])
tmp = data['tra'].groupby(
    ['air_store_id', 'dow'],
    as_index=False)['visitors'].max().rename(columns={
        'visitors': 'max_visitors'
    })
stores = pd.merge(stores, tmp, how='left', on=['air_store_id', 'dow'])
tmp = data['tra'].groupby(
    ['air_store_id', 'dow'],
    as_index=False)['visitors'].count().rename(columns={
        'visitors': 'count_observations'
    })
stores = pd.merge(stores, tmp, how='left', on=['air_store_id', 'dow'])
stores.head()

           air_store_id  dow  ...  max_visitors  count_observations
0  air_00a91d42b08b08d9    0  ...          47.0                35.0
1  air_0164b9927d20bcc3    0  ...          19.0                20.0
2  air_0241aa3964b7f861    0  ...          23.0                63.0
3  air_0328696196e46f18    0  ...          27.0                12.0
4  air_034a3d5b40d5b1b1    0  ...          66.0                37.0

[5 rows x 7 columns]

In [33]:
stores = pd.merge(stores, data['as'], how='left', on=['air_store_id'])
lbl = preprocessing.LabelEncoder()
stores['air_genre_name'] = lbl.fit_transform(stores['air_genre_name'])
stores['air_area_name'] = lbl.fit_transform(stores['air_area_name'])
stores.head()

           air_store_id  dow  ...   latitude   longitude
0  air_00a91d42b08b08d9    0  ...  35.694003  139.753595
1  air_0164b9927d20bcc3    0  ...  35.658068  139.751599
2  air_0241aa3964b7f861    0  ...  35.712607  139.779996
3  air_0328696196e46f18    0  ...  34.701279  135.528090
4  air_034a3d5b40d5b1b1    0  ...  34.692337  135.472229

[5 rows x 11 columns]

In [34]:
data['hol']['visit_date'] = pd.to_datetime(data['hol']['visit_date'])
data['hol']['day_of_week'] = lbl.fit_transform(data['hol']['day_of_week'])
data['hol']['visit_date'] = data['hol']['visit_date'].dt.date
data['hol'].head()

   visit_date  day_of_week  holiday_flg
0  2016-01-01            0            1
1  2016-01-02            2            1
2  2016-01-03            3            1
3  2016-01-04            1            0
4  2016-01-05            5            0

In [35]:
train = pd.merge(data['tra'], data['hol'], how='left', on=['visit_date'])
test = pd.merge(data['tes'], data['hol'], how='left', on=['visit_date'])

train = pd.merge(data['tra'], stores, how='left', on=['air_store_id', 'dow'])
test = pd.merge(data['tes'], stores, how='left', on=['air_store_id', 'dow'])

for df in ['ar', 'hr']:
    train = pd.merge(
        train, data[df], how='left', on=['air_store_id', 'visit_date'])
    test = pd.merge(
        test, data[df], how='left', on=['air_store_id', 'visit_date'])

col = [
    c for c in train
    if c not in ['id', 'air_store_id', 'visit_date', 'visitors']
]
train = train.fillna(-1)
test = test.fillna(-1)

print('Binding to float32')

for c, dtype in zip(train.columns, train.dtypes):
    if dtype == np.float64:
        train[c] = train[c].astype(np.float32)

for c, dtype in zip(test.columns, test.dtypes):
    if dtype == np.float64:
        test[c] = test[c].astype(np.float32)
        
print(train.shape, test.shape)
display(train.head())
display(test.head())

Binding to float32
(252108, 19) (32019, 20)

           air_store_id  ... reserve_visitors_y
0  air_ba937bf13d40fb24  ...               -1.0
1  air_ba937bf13d40fb24  ...               -1.0
2  air_ba937bf13d40fb24  ...               -1.0
3  air_ba937bf13d40fb24  ...               -1.0
4  air_ba937bf13d40fb24  ...               -1.0

[5 rows x 19 columns]

                                id  ...  reserve_visitors_y
0  air_00a91d42b08b08d9_2017-04-23  ...                -1.0
1  air_00a91d42b08b08d9_2017-04-24  ...                -1.0
2  air_00a91d42b08b08d9_2017-04-25  ...                -1.0
3  air_00a91d42b08b08d9_2017-04-26  ...                -1.0
4  air_00a91d42b08b08d9_2017-04-27  ...                -1.0

[5 rows x 20 columns]